@model IEnumerable<PAEL_V2.Models.Etudiant>

@{
    ViewData["Title"] = "Index";
}
<!-- Formulaire de recherche -->
<form action="/Etudiants/Search" method="get">
    <input type="text" name="searchTerm" placeholder="Nom, Prénom ou Email" required />
    <button type="submit">Rechercher</button>
</form>
<br />

<p>
    <a asp-action="Create">Ajouter un etudiant</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prenom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateInscription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prenom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateInscription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EtudiantId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.EtudiantId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EtudiantId">Suprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
